.news-list {
    max-width: 700px;
    margin: 25px auto 0;
    padding: 0 20px;
}

.news-list article {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.news-list article p {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #666;
}

.news-list article comment {
    font-size: 12px;
    border: 1px solid rgba(167, 73, 73, 0.37);
    background: rgba(167, 73, 73, 0.37);
    border-radius: 3px;
    padding: 10px;
    margin-top: 5px;
    display: flex;
}

.news-list .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}