.news-list {
    max-width: 700px;
    margin: 25px auto 0;
    padding: 0 20px;
}

.news-list article {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.news-list article p {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #666;
}

.news-list article .comments a {
    text-decoration: none;
    font-weight: lighter;
    font-size: 16px;
    margin-top: 80px;
    color: #7c9b29 ;
}

.news-list .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}